</br>
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>Политика за бисквитките</h1>
            <hr/>
            <p>
            <h4>Политика за бисквитките /cookie policy/</h4>
            <div class="myFont">
                За да работи този сайт както трябва, понякога
                запазваме на вашето устройство малки файлове с данни, наричани бисквитки. Повечето големи уебсайтове също използват този метод.
            </div>
            </p>
            <p>
            <h4>Какво представляват бисквитките?</h4>
            <div class="myFont">
                <div>Бисквитките са малки текстови файлове, които се запазват на вашия компютър или мобилно устройство, когато посещавате даден уебсайт.
                    Те позволяват на уебсайта да запаметява вашите действия и предпочитания (като например потребителско име, език, размер на шрифта и
                    други настройки за показване)
                    за определен период от време, за да не се налага да ги въвеждате всеки път, когато посещавате сайта или преминавате от една страница към друга.
                </div>
            </div>
            </p>
            <p>
            <h4>Социални мрежи</h4>
            <div class="myFont">
                <div>
                    Тези платформи предоставят социални бутони и други подобни функции, които се използват като бутоните "Харесвам", "Сподели", "Tweet"
                    и така нататък. За целта се вгражда код, който платформите на тези социални мрежи предоставят. Te могат да знаят, че сте посетили
                    определен сайт, ако ползвате услугите им. Нямаме никакъв достъп до тази информация и не можем да я контролираме, но вярваме,
                    че това знание (чрез бисквитките) на тези трети страни не представлява заплаха за вас.
                </div>
            </div>
            </p>
            <p>
            <h4>Имейли</h4>
            <div class="myFont">
                <div>
                    Ние изпращаме имейл съобщение единствено в отговор на запитване от ваша страна, както и във връзка с информация и изпращане на фактура
                    за направена от вас поръчка. Не промотираме чрез имейл кампании и не предоставяме лична информация или имейл адрес на трети лица.
                </div>
            </div>
            </p>
            <p>
            <h4>Актуализация</h4>
            <div class="myFont">
                <div>
                    Запазваме си правото да актуализираме условията за поверителност по всяко време при технологични промени.
                    Ако имате въпроси относно тези условия или личните ви данни, моля пишете ни на имейл: amur_bs@abv.bg
                </div>
            </div>
            </p>
        </div>
    </div>
</div>
</br>