</br>
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>Условия за доставка</h1>
            <hr/>
            <p>
            <h4>Доставка на продуктите</h4>
            <div class="myFont">
                Поръчаните стоки се доставят от куриерска фирма на посочения от клиента адрес за доставка
                (или до поискване от офис) в съответствие с посочените Тарифи за доставка и настоящите Общи условия за Обслужване.
            </div>
            </p>
            <p>
            <h4>Срок на доставка</h4>
            <div class="myFont">
                <div>Срокът на доставка зависи от наличността на артикулите. В случай, че разполагаме с всички поръчани продукти на склад
                    доставката е в срок от 24 часа от момента на изпращането.
                </div>
                <div>Нормалният срок за изпълнение на поръчка е 1-2 работни дни. Ако продуктът не е на склад
                    (особено в случаите на изчерпан внос или недостатъчно произведено количество) срокът е по-дълъг.
                    Трябва да се има предвид, че за всяка поръчка е необходимо технологично време за изпълнение: разговор с клиента и
                    уточняване на детайлите, пакетиране, подготовка на опис, пратка, товарителница и заявка на куриер. В тази връзка,
                    поръчки изпратени след 15.00 часа е вероятно да НЕ бъдат получени на следващия ден.
                </div>
                <div>При наличие на обстоятелства водещи до забавяне изпълнението на поръчката клиентът ще бъде навременно
                    уведомен на посочения телефон за контакти.
                </div>
            </div>
            </p>
        </div>
    </div>
</div>
</br>