</br>
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>Поверителност</h1>
            <hr/>
            <p>
                <h4>Защита на личните данни</h4>
                <div class="myFont">
                    "Amur" ООД се задължава да използва личните данни на клиентa единствено и само за целите, предвидени в настоящите
                    Общи условия за Обслужване . Ако клиентът е обявил невярна информация това задължение се счита за невалидно.
                    "Amur" ООД се задължава да не разкрива личните данни на клиента на трети лица освен ако не е получил изрично
                    разрешение от него за това, или информацията трябва да бъде предоставена на съответните власти по силата на
                    българското законодателство.
                    "Amur" ООД се задължава да използва личните данни, които ни предоставяте само за следните цели:
                    Обработка на клиентска поръчка.
                    Статистически цели, за подобряване работата на магазина.
                    Администриране и обслужване съдържанието на магазина.
                </div>
            </p>
        </div>
    </div>
</div>
</br>