</br>
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>Условия за ползване</h1>
            <hr/>
            <div class="myFont">
                Уважаеми клиенти,
                <div>
                    Моля прочетете внимателно Общите условия за Обслужване и ползване на системата за електронна търговия на "Amur" ООД.
                </div>
            </div>
            <p>
            <h4>Изискване за регистрация на клиент</h4>
            <p class="myFont">
            Всяко физическо или юридическо лице, което възнамерява да извърши покупка чрез магазина за електронна търговия,
            трябва да попълни и потвърди верността на данните на регистрационната форма, като по този начин създава свой клиентски профил.
            Чрез създаването на клиентски профил регистрираното лице:
            </p>
            <div id="tab" class="myFont">
                <ul>
                    <li>
                        1. Придобива потребителско име и парола, с които се идентифицира в интернет магазина.
                    </li>
                    <li>
                        2. Изразява съгласието си с настоящите Общи условия за Обслужване и ползване на интернет магазина.
                    </li>
                    <li>
                        3. Получава правото да извършва валидни поръчки за закупуване на стоки, предлагани от "Amur" ООД, както и да отказва
                        изпълнението им по надлежният ред.
                    </li>
                </ul>
            </div>
            <br/>
            <div class="myFont">
                "Amur" ООД си запазва правото да отказва достъп, да прекратява регистрация на клиент, да премахва или
                редактира съдържание, или да отказва изпълнение на поръчки по свое усмотрение. Ако бъде отказана поръчка, то ще бъде
                без разход за Клиента.
            </div>
            </p>
            <p>
            <h4>Процедура за пазаруване</h4>
            <p class="myFont">
            Когато направите поръчка за закупуване на продукти от  интернет магазина автоматично получавате e-mail, потвърждаващ
            успешното й оформяне, и съдържащ детайлите на поръчката. Поръчка, направена през интернет магазина представлява и се
            счита за оферта за закупуване на продукт, "подлежаща на разглеждане". Поръчката се смята за приета от момента, в който
            представител на "Amur" ООД  получи Вашето потвърждение за валидността на поръчката.
            При оформянето на покупката от клиента се изисква:
            </p>
            <div id="tab2" class="myFont">
                <ul>
                    <li>1. Да посочи валидни адрес за доставка и телефон за контакт.</li>
                    <li>2. Да активира изпълнението на поръчката чрез натискането на бутона "Потвърждавам".
                        Чрез натискане на бутона "Потвърждавам" регистрираният клиент изразява съгласието си с настоящите Общи условия за Обслужване .</li>
                    <li>
                        3. След получаване на валидна поръчка представител на "Amur" ООД  може да се свърже с Клиента по телефона за да го уведоми за:
                        <div id="tab3">
                            <ul>
                                <li>а) наличността на поръчаните артикули (включително размер, цвят и други)</li>
                                <li>б) цената за доставка на стоката</li>
                                <li>в) срок за доставка на стоката</li>
                            </ul>
                        </div>
                    </li>
                    <li> 4. В последващ телефонен разговор (или  e-mail) Клиентът потвърждава съгласието си с цената и сроковете за доставка на
                        поръчаните стоки.</li>
                    <li>5. Клиентът получава по e-mail съобщение за изпратената поръчка, което съдържа окончателните детайли на пратката,
                        като вид и брой на изпратените артикули, цена на доставка, дата на доставка и обща сума за плащане.</li>
                </ul>
            </div>
            </p>
            <p>
            <h4>Цена и плащане</h4>
            <div class="myFont">
            Цените на стоките са в български лева с включен ДДС. Плащането на стоките се извършва в български лева.
            Обявената за всеки един продукт цена важи за съответната разфасовка (количество еднообразни артикули в единична опаковка),
            която зависи от вида на продукта и не включва разходите за доставка.
            Дължимата от клиента сума за доставка на стоката се калкулира автоматично, като стойността й се изчислява приблизително
            +/- 10%.
            "Amur" ООД  не публикува информация за наличността на продаваните стоки. Голяма част от артикулите са на склад,
            но информация за точното количество от даден артикул не се публикува. Когато обработваме Вашата поръчка, ние ще Ви
            информираме относно наличността и сроковете за доставка на всеки отделен поръчан артикул.
            </div>
            <p>
            <h4>Доставка на продуктите</h4>
            <div class="myFont">
                Поръчаните стоки се доставят от куриерска фирма на посочения от клиента адрес за доставка (или до поискване от офис)
                в съответствие с посочените Тарифи за доставка и настоящите Общи условия за Обслужване  .
            </div>
            </p>
            <p>
            <h4>Срок на доставка</h4>
            <div class="myFont">
                Срокът на доставка зависи от наличността на артикулите. В случай, че разполагаме с всички поръчани продукти на склад
                доставката е в срок от 24 часа от момента на изпращането.
                Нормалният срок за изпълнение на поръчка е 1-2 работни дни. Ако продуктът не е на склад (особено в случаите на
                изчерпан внос или недостатъчно произведено количество) срокът е по-дълъг.
                Трябва да се има предвид, че за всяка поръчка е необходимо технологично време за изпълнение: разговор с
                клиента и уточняване на детайлите, пакетиране, подготовка на опис, пратка, товарителница и заявка на куриер.
                В тази връзка, поръчки изпратени след 15.00 часа е вероятно да НЕ бъдат получени на следващия ден.
                При наличие на обстоятелства водещи до забавяне изпълнението на поръчката клиентът ще бъде навременно
                уведомен на посочения телефон за контакти.
            </div>
            </p>
            <p>
            <h4>Гаранция</h4>
            <div class="myFont">
                "Amur" ООД  гарантира, че към момента на изпращане продуктът няма недостатъци, които да намалят стойността му или
                годността му за обичайна употреба.
                Веднага след получаването на пратката, но не по-късно от 24 часа, клиентът следва да провери дали тя е пълна и дали
                доставените артикули имат някакви недостатъци.
                В случай на отчетени недостатъци при получаване на стоката, клиентът следва да уведоми незабавно за вида и количеството им.
                Гаранционният срок започва да тече от момента на получаването на пратката.
                Гаранция не се изпълнява за дефекти, причинени от нецелесъобразно използване на продукта, наднормено натоварване
                или употреба в разрез с предписанията в гаранцията на стоката.
            </div>
            </p>
            <p>
            <h4>Права и задължения</h4>
            <div class="myFont">
                <div>
                    "Amur" ООД  се задължава да достави поръчаната стока в уговорения срок.
                </div>
                <div>
                    "Amur" ООД се задължава да изпълнява уговорките с клиента с дължимата грижа.
                </div>
                <div>
                    "Amur" ООД  НЕ носи отговорност за невярна информация, подадена от производителя.
                </div>
                <div>
                    "Amur" ООД  НЕ се задължава да достави поръчана стока при посочени неверен адрес или телефон.
                </div>
                <div>
                    "Amur" ООД не носи отговорност за каквото и да е забавяне или невъзможност да изпълни задълженията си, при възникването
                    на обстоятелства извън контрола на "Amur" ООД.
                </div>
                <div>
                    Клиентът има право да иска връщането на стоката при констатирани липси или когато доставената стока явно не съответства
                    на поръчаната такава, и това не е било възможно да се установи в момента на приемане на пратката. Рекламацията при
                    констатирани липси и явни несъответствия се предявява до 24 часа след получаването  на пратката.
                </div>
                <div>
                    Клиентът има право да иска връщането на стоката, ако поради неправилно транспортиране могат да бъдат констатирани
                    видими дефекти по стоката или нарушена цялост на опаковката й. В този случай клиентът не трябва да подписва
                    придружавашите доставката документи, че е получил  стоката и незабавно трябва да уведоми представител на "Amur" ООД.
                </div>
                <div>
                    Клиентът има право да иска връщането на стоката ако е налице несъответствие с поръчания размер. Рекламацията при
                    несъответствие с поръчания размер се предявява при установяване на несъответствието, но не по-късно от срока на
                    гаранцията, ако такава е предоставена.
                </div>
                <div>
                    Клиентът има право да иска връщането на стоката, ако е налице несъответствие с поръчаната търговска марка. Рекламацията
                    при несъответствие с поръчаната търговска марка се предявява при установяване на несъответствието, но не по-късно от срока
                    на гаранцията, ако такава е предоставена.
                </div>
                <div>
                    Клиентът има право да иска връщането на стоката, когато цената, която трябва да заплати не отговаря на уговорената.
                </div>
                <div>
                    Клиентът има право да иска връщането на стоката, когато не е спазен срока на доставката.
                </div>
                <div>
                    Клиентът има право, без да дължи обезщетение, да се откаже от покупката в срок от 14 (четиринадесет) дни, считано от деня,
                    следващ получаването на стоката. В този случай стоката трябва да бъде върната в запазена оригинална опаковка и с ненарушена
                    цялост. Разходите по връщането на стоката са за сметка на Клиента.
                </div>
                При предявяване на рекламация потребителят може да претендира за:
                </p>
                <div id="tab4">
                    <ul>
                        <li>1. Възстановяване на заплатената сума;</li>
                        <li>2. Замяна на стоката с нова;</li>
                        <li>3. Отбив от цената;</li>
                        <li>4. Безплатно извършване на ремонт.</li>
                    </ul>
                </div>
                <br/>
                <p>
                    При предявяване на рекламация, представител на "Amur" ООД  може да поиска снимка или връщане на повредената стока като
                    доказателство за основание на рекламацията.
                    Във всички случаи на връщане на стоката трябва  да бъде предварително уведомен представител на "Amur" ООД.
                <div>
                    Клиентът се задължава да посочи валидни телефон  и адрес за доставка.
                </div>
                <div>
                    Клиентът се задължава да заплати цената на поръчаните стоки.
                </div>
                <div>
                    Клиентът се задължава да заплати сумата за други разходи, като доставка, допълнителна опаковка и други, съгласно уговореното.
                </div>
                <div>
                    Клиентът се задължава да осигури възможност за получаването на поръчаните стоки.
                </div>
                <div>
                    Клиентът се задължава да получи поръчаните стоки.
                </div>
                <div>
                    Клиентът носи пълна отговорност за опазването или предаването на трети лица на потребителското си име и паролата,
                    както и за всички действия, извършвани с тях.
                </div>
                <div>
                    Клиентът се задължава да не прави фиктивни поръчки, измислени отзиви за даден продукт или да подава друга невярна информация.
                </div>
                <div>
                    Клиентът се задължава да не нарушава чужди имуществени или неимуществени права.
                </div>
                Да спазва действащото законодателство на Република България и настоящите Общи условия за Обслужване и ползване
                интернет магазина на "Amur" ООД.
                </p>
            </div>
            <p>
                <h4>Защита на личните данни</h4>
                <div class="myFont">
                    <div>
                        "Amur" ООД се задължава да използва личните данни на клиентa единствено и само за целите, предвидени в настоящите Общи условия
                        за Обслужване . Ако клиентът е обявил невярна информация това задължение се счита за невалидно.
                    </div>
                    <div>
                        "Amur" ООД се задължава да не разкрива личните данни на клиента на трети лица освен ако не е получил изрично разрешение
                        от него за това, или информацията трябва да бъде предоставена на съответните власти по силата на българското законодателство.
                    </div>
                    <div>
                        "Amur" ООД се задължава да използва личните данни, които ни предоставяте само за следните цели:
                        <div id="tab5">
                            <ul>
                                <li>Обработка на клиентска поръчка</li>
                                <li>Статистически цели, за подобряване работата на магазина</li>
                                <li>Администриране и обслужване съдържанието на магазина</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </p>
            <p>
            <h4>Снимки, илюстрации и описание на артикул</h4>
            <div class="myFont">
                Публикуваните в този уеб-сайт описание и снимки на продукти са само за общи информационни цели.
                За да е сигурен, че продуктът отговаря точно на изискванията му, Клиентът трябва да се осведоми за конкретните характеристики
                чрез официалния сайт на производителя.
            </div>
            </p>
            <p>
            <h4>Правно регулиране</h4>
            <div class="myFont">
                За всички неуредени въпроси от настоящите Общи условия между "Amur" ООД  и клиента се прилагат разпоредбите на действащото
                законодателство на Република България.
            </div>
            </p>
        </div>
    </div>
</div>
</br>