
<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-4 footer-col">
                <div class="logofooter"> Amur</div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                <p><i class="fa fa-map-pin"></i> ж.к.Меден Рудник, Търговски център "Тами", гр. Бургас</p>
                <p><i class="fa fa-phone"></i> Телефон: 0888 999 999</p>
                <p><i class="fa fa-envelope"></i> E-mail : amur_bs@abv.bg</p>

            </div>
            <div class="col-4 footer-col">
                <h6 class="heading7">Информация</h6>
                <ul class="footer-ul">
                    <li><a th:href="@{/aboutus}"> За нас</a></li>
                    <li><a th:href="@{/contacts}"> Контакти</a></li></li>
                    <li><a th:href="@{/delivery}"> Условия за доставка</a></li>
                    <li><a th:href="@{/privacy}"> Поверителност</a></li>
                    <li><a th:href="@{/terms-of-use}"> Условия за ползване</a></li>
                    <li><a th:href="@{/cookie-policy}"> Политика за бисквитките</a></li>
                </ul>
            </div>
            <!--<div class="col-md-3 col-sm-6 footer-col">-->
                <!--<h6 class="heading7">LATEST POST</h6>-->
                <!--<div class="post">-->
                    <!--<p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>-->
                    <!--<p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>-->
                    <!--<p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-4 footer-col">
                <h6 class="heading7">Социални мрежи</h6>
                <ul class="footer-social">
                    <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
                    <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
                    <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
                    <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--footer start from here-->

<div class="copyright">
    <div class="container">
        <div class="col-md-6">
            <p>© 2017 - Designed By GM </p>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
                <li><a href="#">prabuuideveloper.com</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Faq's</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Site Map</a></li>
            </ul>
        </div>
    </div>
</div>