<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../css/custom.css" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" type="text/css" href="../css/products-all.css" th:href="@{/css/products-all.css}"/>
    <link rel="stylesheet" type="text/css" href="../css/product-details.css" th:href="@{/css/product-details.css}"/>
    <link rel="stylesheet" type="text/css" href="../css/footer.css" th:href="@{/css/footer.css}"/>
</head>
