<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <br/>
            <h3 class="text-center">Моля, влезте в профила си или се регистрирайте!</h3>
            <div class="col-9 offset-5">
                <a th:href="@{/users/login}" class="btn btn-success">
                    Вход
                </a>
                <a th:href="@{/users/register}" class="btn btn-primary">
                    Регистрация
                </a>
            </div>

        </div>
    </div>
</div>